h1{
    color: rgb(10, 65, 128);
}

.p_azul{
    color:blue;    
}

.p_rojo{
    color:red; 
}

.parrafo{
    background: inherit;
    color:inherit
}

#ultimo_parrafo{
    color:green
}

#primer_parrafo{
    background-color: black;
    color: white; 
    text-align: center;   
    width: 1200px;
    height: 120px;
    padding: 20px 20px 20px 20px;

    border:solid yellow;
    border-width: 10px 10px 10px 20px;
    border-radius: 20%;
    margin-top: 50px;
    box-sizing: border-box;
    /*padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;*/
     
}

.p_azul,.p_rojo,#ultimo_parrafo,h1{
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.p_rojo i {
    background: violet;
    color:white
}

.login{
    padding:30px;
    background: yellow ;
    position: fixed;
}

a{
    padding: 30px;
    background: cyan;
    display: inline-block;
}

a{
    padding: 20px;
    background: darkgreen;    
}

a:hover{
    background: darkblue;
    padding:10px ;
}


h1{
    background: initial;
}

.img_transmi{
    background: transparent;
    border-width: 30px;
    border-style: solid;
    display: inline-block;
    border-color: transparent;
    border-radius: 50%;
    box-shadow: -47px 34px 40px 8px rgba(123,123,123,0.72);
}