body{
    font-family: serif;
    background: rgb(202, 208, 214);
}

h1{
    text-align: center;
    color:navy
}

.primera_fila{
    background-color:rgb(21, 21, 237);
    color:white;
    height: 30px;
    margin: 1%;
    font-weight: bold;
}

.content{
    background-color: lightskyblue;
    color: white;
    height: 20px;
}

.content:hover{
    height: 30px;
    font-weight: bold;
}

#miTabla{
    width: 80%;
    left: 10%;
    position: absolute;
    margin-top: 50px;
    box-shadow: 2px 2px 134px -16px rgba(69,88,194,0.75);
}
 
td{
    border-radius: 10%;
}

.edit_button{
    background-color: transparent;
    color: white;
}

  