<!DOCTYPE html>
<html>
    <head><!--esto es un comentario en html -->
        <title>MI SISTEMA DE TRANSPORTE MASIVO</title>
        <!-- esto es otro comentario -->
        <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
    </head>
    <body>
        <div class="caja-login">
              <h1> Inicio de sesión </h1>
              <form method="post">
                <label>Nombre de Usuario</label>
                <input type="text" name="username" placeholder="ingrese su nombre de usuario">
                <label>contraseña</label>
                <input type="password" name="passwd" placeholder="ingrese su contraseña">
                <input type="submit">
                <a href="#">Recordar la contraseña</a>
                <br/>
                <a href="#">crear una nueva cuenta</a>
              </form>  
        </div>
    </body>
</html>