<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='mostrar_buses.css')}}">
    <title>| Mostrar buses |</title>
</head>
<body>
    <h1>Listado de buses</h1>
    
    <div class="divTabla">
        <form  method="get" action="/form_add_bus">
            <button>Agregar Bus</button>
        </form>
        <table id="miTabla">
            <tr class="primera_fila"><td>ID</td><td>MODELO</td><td>CAPACIDAD</td><td>PLACA</td><td>MARCA</td></tr>
            {% for registro in buses  %}
                <tr class="content">
                    <td>{{registro["id"]}} </td>
                    <td>{{registro["modelo"]}}</td>
                    <td>{{registro["capacidad"]}}</td>
                    <td>{{registro["placa"]}}</td>
                    <td>{{registro["marca"]}}</td>
                    <form  method="post" action="/show_edit_bus_form">
                        <td>
                            <button class="edit_button" name="id_bus" value="{{registro['id']}}">Editar</button>
                        </td>
                    </form>
                    <form  method="post" action="/delete_bus">
                        <td>
                            <button class="edit_button" name="id_bus" value="{{registro['id']}}">Eliminar</button>
                        </td>
                    </form>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>